<h2 id='title'>Welcome to Poneyland</h2>
<ul id="menu">
    <li>
        {{#link-to "main"}}Jouer{{/link-to}}
    </li>
    <li>
        {{#link-to "scores"}}Scores{{/link-to}}
    </li>
</ul>
{{outlet}}
